<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcc.imusic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.WAKE_LOCK"/>
     <application
        android:name="com.gcc.imusic.MusicApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gcc.imusic.activity.LaunchActivity"
            android:label="@string/app_name" 
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gcc.imusic.activity.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.gcc.imusic.activity.PlayerActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.gcc.imusic.activity.ContentActivity"
            android:label="@string/app_name">
        </activity>
         <activity
            android:name="com.gcc.imusic.activity.RadioActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.gcc.imusic.activity.PlaylistActivity"
            android:label="@string/app_name"
            android:theme="@style/Transparent">
        </activity>
        <activity
            android:name="com.gcc.imusic.activity.NetworkActivity"
            android:label="@string/app_name">
        </activity>
        
       
        
        <service android:name="com.gcc.imusic.service.WireUpnpService" />
        <service android:name="com.gcc.imusic.vtuner.PlaybackService"
 		         android:process="com.gcc.service.playbackservice" />
        
    </application>

</manifest>
